<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Listado</servlet-name>
        <servlet-class>com.luis.servlets.Listado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta</servlet-name>
        <servlet-class>com.luis.servlets.Alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>com.luis.servlets.ServletBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRunModificar</servlet-name>
        <servlet-class>com.luis.servlets.ServletRunModificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Listado</servlet-name>
        <url-pattern>/listado.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta</servlet-name>
        <url-pattern>/alta.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/borrar.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRunModificar</servlet-name>
        <url-pattern>/runModificar.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
